    
/* Style index page */

    #btnsigneup{
      padding-top: 70px;
    }
    body{
    background-color: #003333;
}
       #connectBtn{
            padding-top: 2px;
            padding-right: 90px;
            padding-left: 90px;
         }
        #connectinfo{
          padding-top: 190px;
          padding-left: 60px;
          padding-right: 60px; 
        }
        #signe_forgot{
           padding-top: 0px;
           padding-left: 100px;
           padding-right: 100px;
         } 
       #appName{
        padding-top: 90px;
       }
       h6{
        color: green;
       }
/* ____________________________________________________________________________________________________*/

/* Style signe up */
       h1{
        color: yellow;
       }

       #createacountinfo{
        padding-top: 170px;
        padding-left: 60px;
        padding-right: 60px; 

       }