body{
  background-color: #F7F7F7;
}
   .list{
     padding-top: 160px;
     padding-right: 50px;
     padding-left: 50px;
   }

   .item.item-input{
    box-shadow: 5px 5px 5px gray;
   }
   .button-bar{
     padding-right: 50px;
     padding-left: 50px;
   }

   .signe_forgot{
    margin-right: 40px;
   }

  .button.button-full.button-assertive{
      box-shadow: 5px 5px 5px gray;
     }
  .button.button-full.button-dark{
    box-shadow: 5px 5px 5px gray;
    font-size: 90%;
    margin-top: 0px;
  }  

